.card {
    /* width: 300px; */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    margin: 20px auto;
}

/* Card hover animation */
.card:hover {
    transform: translateY(-6px); /* Move the card up by 5 pixels on hover */
}

/* Card content styles */
.card-content {
    padding: 20px;
}

.card-footer h5:hover {
   font-weight: bold;
   color: royalblue;
}


